@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@font-face {
    font-family: "consolas";
    src: url(../html_s/Modulo_1/fontes/Consolas-Font/CONSOLA.TTF) format('TrueType');
}


:root{/* declaração de váriaveis, basicamente */ 
    --cor0:#c5ebd6;  /* as váriaveis em css sempre começam com dois traços e depois o nome que você quer dar. A vantagem de fazer isso é que se você quiser mudar todas as cores é só mudar aqui que ja muda em tudo que você colocou.*/
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;
    --fontepadrao:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*{
    font-family:'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: auto;
    padding: 0px;
    text-align:justify;/* justify, right, left, center */

}

body{
    font-size: 20px;
    background-color: var(--cor0);
    line-height: 2;/* espaçamento entre as linhas dos parágrafos */


}

header{
    background-image: linear-gradient(var(--cor3), var(--cor5));
    min-height: 150px;
    color: white; 
    margin: auto;
    
}

header h1{
    font-size: 3.5em;
    text-align: center;
    padding-top: 65px;
    font-variant: small-caps;
}

header p{
    text-align: center;
    font-size:1.3em;
    padding-bottom: 50px;
    max-height: 600px;
    margin: 0;
}

nav{
    padding: 15px;
    background-color: var(--cor4);
    position: fixed;
    width: 100%;
    text-align: right;
    

    
}
nav a{
    margin-right: 30px;
    text-decoration: none;
    padding:17px;
    border-radius: 10px;
    color: var(--cor1);
    
}

nav a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
    transition: 0.3s;

}

#listas ul,
#listas ol {
    list-style-position: inside;
}

main{
    background-color: white;
    margin: auto;
    min-width: 320px;/* lembre-se que ainda tem o padding */
    max-width: 800px;
    padding: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 0px 15px #2929297c;
    
}

p {
    margin:15px 0px ;
    text-indent: 20px;/* é a margem do parágrafo basicamente. */
}


h2{
    margin:15px 0px ;
    font-size: 30px;
    text-align: center;
}

h3{
    margin:15px 0px ;
    font-size: 20px;
    /*  background-image: linear-gradient(to right, #134980, #1B67B3,#2284E6, white);
    color: white;
    padding-left: 20px;
    border-radius: 10px; */

    
}

.base{
    background-color: #E5E5E5;
    color: #212529;
    border-radius: 10px;
    padding: 0px 30px;
    margin:10px 50px 50px 50px;
    text-align: left;
    max-width: 60%;
    margin: auto;
}


.codigo{
color: black;
    border-radius: 10px;
    padding: 5px;
    font-family: "consolas","roboto", Arial, Helvetica, sans-serif;
    margin: auto;
    
}

a{
    color:#80C4FF ;

}

.imgfavi {
    display: inline;
    vertical-align: middle; /* Adicione esta linha para alinhar verticalmente */
    width: auto;
   
}

footer{
    text-align: center;
    background-color: #0B2C4D;
    margin: 0px;
    padding: 8px;
}
footer >p{
    color: white;
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-weight: 600;

}

img{
    width: 100%;
}

/* aqui va ao modulo 2 penultimo video e veja como ele fez, é meio que uma gambiarra e ele não explica exatamente então só copiei */
div.video{
    background-color: var(black);
    margin: 0px -10px 30px -10px;/* o -10 é pra colar onde vc quer, basicamente */
    padding: 20px;
    padding-bottom: 56.5%;
    position: relative;

}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

video{
    width: 100%;
    margin: auto;
}
